.tooltip > .tooltip-inner {
      background-color: #475AA3; 
      color: #FFFFFF; 
      padding: 8px 14px;
      font-size: 14px;
  }

.tooltip.top > .tooltip-arrow {
      border-top: 5px solid #475AA3;
}


th {
	text-transform: uppercase;
	font-stretch: condensed;
	font-size:.85em;
	color:#636363;
}



#ongoing_jobs_table tr td:nth-child(9) a,
#ongoing_jobs_table tr td:nth-child(10) a{
      font-stretch: semi-condensed;
}


#ongoing_jobs_table .btn-xs {
      width:8em;
	  font-size:.8em; 
}


/* bottom panel */

#past-jobs-panel .panel-heading h4,
#bottom-panel .panel-heading h4 {
	width :8em;	
}

#past-jobs-panel  .panel-heading .form-control,
#bottom-panel .panel-heading .form-control {
	display:inline !important;
	width :auto !important;
	margin: 0 1em 0 .5em;
}

#past-jobs-panel .form-group, 
#bottom-panel .form-group{
	margin-bottom:0px !important;
}    

#past-jobs-panel  .form-control,
#bottom-panel .form-control{
	margin-bottom:5px !important;
}    

#past_jobs_table a {
	color:#313131 !important;
}


/* month view */

.ZOWmonth-table ul{
		padding:0;
}

.ZOWmonth-table ul li{
	    list-style-type: none;
		font-size:0.9em;
}

.weekdays{
	font-style: italic;
}