#annualdatatable {

  table-layout: fixed;

}

th {
    text-transform: uppercase;
    font-stretch: condensed;
    font-size: .85em;
    color: #636363;
}

#client_dropdown_form, #contact_dropdown_form {
    display: inline;
}