
.panel-heading .form-group{
	margin-bottom:0 !important;
}




/* ################## chart ################## */



#chart-area {

  display: flex;
 /*align-items: center;*/
  justify-content: center;

}
	
	
.bartext {
	font-size:1.5rem;
	font-weight:bold;
	display:block;
	border:1px solid red;
	
}

.domain,
.tick line {
	display:none;
}



#days-table thead th{
	color:#706E6E;
}



.tooltip{
	top:-1rem;
	/* display: flex;
	align-items: center;
	justify-content: center;
	width:15rem;
	height:30%;
	text-align: left;
	font-size:1.5rem;
	background-color:#AFDCFF;
	color:#111;*/
}

.tooltip ul{
	width:15rem;
	font-size:1.5rem;
	
} 

/* Hide bar totals and x-axis in anything below large devices (desktops, 992px and up) */
@media (max-width: 992px) { 	
	.tick {
		display:none !important;
	}
	.bartext {
		font-size:1rem !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width:768px) {  	
	.bartext, .tick {
		display:none !important;
	}
}