#client_invoices_table {
	width:100%;
	/*display:none;*/
}

#client_invoices_table_filter {
    text-align: left;
}

#client_invoices_table_info{
    text-align: right;
}

#client_dropdown_form {
	margin-bottom:1em;
}

#client_invoices_table tr:hover>td{
   background-color: #dfdfdf !important;
}

textarea{
	margin-bottom:1em;
}
