
#invoices_table_wrapper{
	display:none;
}

#invoices_table_filter{
	text-align:left;
	padding-bottom: 1em;
}

#invoices_table_filter label{
	margin-left:-10px;	
}

#invoices_table_filter input{
	margin-left:10px;	
}

#invoices_table_info,
#invoices_table_length{
	text-align:right;
}

#invoices_table_paginate{
	text-align: left;
	margin-left:-10px
}

#invoices_table_paginate,
#invoices_table_length{
	padding-top: 1.2em;
}

