.panel-title a {color:#fff;}

#invoices_table_filter{
	    text-align:left;	
}

#invoices_table_filter label{
	    margin-left:-10px;	
}

#invoices_table_filter input{
	    margin-left:10px;	
}

#invoices_table_info {
	    text-align:right;
}

#invoices_table_length,
#invoices_table_paginate{
	    text-align:center;
	    margin-bottom:10px;	
}

#invoices_table_paginate{
	    text-align:center;
	    margin-bottom:10px;	
}
