/* ##################  =general  ################## */


	html {
		font-family:calibri,"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		font-size:86%;
		margin:0;
		padding:0;
	}

	body {
		margin:0;
		padding:0;
	}


	a {text-decoration:none;}
	
	
	
/* ##################  =Top Menu  ################## */	
	
	
	#TopMenu {
		background-color:#FF9900;
		padding:.25em 1em;
		/* height:2.5em;*/
	}
	
		#TopMenu h1{
			font-family: "Trebuchet MS",calibri, Verdana, Arial, Helvetica, sans-serif;
			margin:-.1em 1em 0 0;
			 padding:0;
			float:left;/**/
			color:#FFcc93;
		}	
		#TopMenu p{
			margin:0;
			padding:0;
			clear:right;
			/*padding:0;
			 float:left;*/
		}		
		#TopMenu a {
		/* See 2 items down for more*/
			display:block;
			float:left;
			padding:.25em 1em;
			margin:.5em 1em .5em 0;
			border: 0;
			background-color:#ee1600;
			/*-moz-box-shadow: 0px 3px 3px  #A65200;
			-webkit-box-shadow: 0px 3px 3px #A65200;
			box-shadow: 0px 3px 3px #A65200;*/

			font-family:calibri,"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
			color:#333;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
		}
		
		
		
		#TopMenu a:hover {
			background-color:#ee1600;
			-moz-box-shadow: 0px 3px 3px  #A65200;
			-webkit-box-shadow: 0px 3px 3px #A65200;
			box-shadow: 0px 3px 3px #A65200;

		}
		#TopMenu a#topbut_logout{margin-left:1em;background-color:#CCCC00;}
		
		.topmenuinfo {display:block;clear:both; font-size:85%;margin:0;padding:0;}
		
		
/* ##################  =body ################## */ 		
		
			
		body.tracking a#topbut_tracking,
		body.billing a#topbut_billing, 
		body.invoice a#topbut_billing, 
		body.invoicing a#topbut_invoicing,
		body.clients a#topbut_clients,
		body.contacts a#topbut_contacts,
		body.trash a#topbut_trash, 
 		body.export a#topbut_export
		{
			color:white;
			-moz-box-shadow: 0px 0px 0px  #A65200;
			-webkit-box-shadow: 0px 0px 0px #A65200;
			box-shadow: 0px 0px 0px #A65200;
			-webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(16,101,199)),
				color-stop(0.5, rgb(4,52,108))
			)
			-moz-linear-gradient(
				center bottom,
				rgb(16,101,199) 0%,
				rgb(4,52,108) 50%
			)
		}


/* ##################  =pageSidebar =Sidebar ################## */ 
/*
	#pageSidebar {
			position:absolute;
			width:9em;
			
			}
	.tracking #pageSidebar {
			width:37em;
			background-color:#74C402;
			
			}
	#pageSidebar h3{
			color:#999;
			padding:0.3em .5em 0;
			}

	.billing #pageSidebar strong a,
	.invoicing #pageSidebar strong a,
	.contacts #pageSidebar strong a, 
	.clients #pageSidebar strong a {
			background-color:#60B9CE;
			color:#fff;
			}

	.billing #pageSidebar a,
	.invoicing #pageSidebar a,
	.contacts #pageSidebar a,
	.clients #pageSidebar a{
			display:block;
			padding:0.3em .5em 0;
			margin:0;
			width:100%;
			border-bottom:1px dashed #ddd;
			}

	.billing #pageSidebar a:hover,
	.invoicing #pageSidebar a:hover,
	.contacts #pageSidebar a:hover,
	.clients #pageSidebar a:hover{
			background-color:#ddd;
			}

	.billing #pageSidebar a span,
	.invoicing #pageSidebar a span,
	.contacts #pageSidebar a span,
	.clients #pageSidebar a span{
			float:right;
			display:block;
			color:#666;
			font-size:85%;
			}
*/
/* ##################  =Bottom Content table ################## */ 

	#pageOutput {
			overflow-y:auto;
			/*overflow-x:hidden;*/
			overflow:auto;
			border-bottom:3px solid red;
			clear:both;
			}

 body.invoice  #pageOutput,{
			margin-left:10em;
			width:auto;
			}

	body.tracking #pageOutput{
			margin-left:37em;
			width:auto;
			}
		#pageOutput div.content{
				margin-left:1em;
				}
			.trackingnew #pageOutput div{
					margin-left:0;
					}	
		#pageOutput div div{
				margin-left:0;
				}

		#pageOutput table {
			border:0;
			border-collapse:collapse !important;
			position:relative;
			
			}
			
			
			/*Make table scrollable*/		
				#pageOutput thead {

					}		
				#pageOutput tbody {
					height:100%;
					overflow-y:scroll;
					overflow-x:hidden;
					}		

				.tracking #calendar tbody {
					overflow:auto;
					}		


			/*Shaded rows*/		
				#pageOutput tr.even {
					}
	
			/*Shaded rows*/		
				#pageOutput tr.current {
					background-color:#009900;
					color:white;
					}


			#pageOutput th {

				background-color:#999;
				color:white;
				font-weight:normal;
				font-style:italic;
				 white-space:nowrap;
				}		



			#pageOutput thead tr .header, #pageOutput thead tr .header {
				background-image: url(../img/sprites/table_sort_sprites.gif);
				background-repeat: no-repeat;
				background-position:0.2em 5px !important ;

			}
			#pageOutput thead tr .header:hover, #pageOutput thead tr .header:hover {
				color:#fff;
				cursor: pointer;
			}

			#pageOutput thead tr .headerSortUp, #pageOutput thead tr .headerSortUp  {
				background-position:1.2em -25px;
				background-color:#777;
			}
			#pageOutput thead tr .headerSortDown, #pageOutput thead tr .headerSortDown {
				background-position:1.2em -55px;
				background-color:#777;
			}




			#pageOutput td,#pageOutput th {
				padding:.25em 1em;
				border:0;
				text-align:left;
				}		

			#pageOutput td {
				text-align:left;
				/*height:2em !important;*/
				}		
			#pageOutput table#currententries td{font-weight:bold;color:#333 !important;}
			#pageOutput .slides {
				text-align:center;
				
				}
			#pageOutput .button {
				width:2em !important;
				}
			#pageOutput .delete {
				padding-right:1em;
				
				}
				
				#pageOutput td.button a {
				display:block;
				font-weight:bold;
				text-decoration:none;
				color:#aaa;
				}

			#pageOutput .tableheaderhighlight {
				background-color:#555 !important;
				cursor:pointer;
			}

			
			.rowhighlight {
				background-color:#88aaaa !important;
				color:#fff !important;
			}
			
			.rowdelete {
				background-color:#A62300 !important;
				color:#fff!important;
			}
			
			.rowhighlight a, .rowdelete a,.rowhighlight a:hover{
				color:#fff !important;
			}
			

			
			.billing table, .invoice table {clear:both;}
			
			/* ##################  =non-table ################## */ 
			/*.billing #pageOutput div{float:left;margin-right:2em;}*/ 
			
			.billing #pageOutput div.monthtotal{float:none;}
			
			
			div#pastinvoices {
					margin:.5em;
					/*height:3em;
					width:10em;*/
					overflow-y:auto;
					overflow-x:hide;
					padding:1em;
					}
			form div#pastinvoices {
					float:left;
					padding:0;
					}
			div#pastinvoices p {
					margin:0;
					padding:0;
					}
					
					
					
	/* ##################  =ongoing jobs  ################## */ 				
	#ongoing h3{
			color:#999;
			padding:0.3em .5em 0;
			}

	#ongoing strong a {
			background-color:#60B9CE;
			color:#fff;
			}

	#ongoing a{
			display:block;			
			
			margin:0 0 0 1em;
			border-top:1px dashed #ddd;
			line-height:2em;
			}



	#ongoing a:hover{
			/*background-color:#ddd;*/
			}

	#ongoing a span{
			display:block;
			float:left;
			background-color:#FF9933;
			color:#fff;
			font-size:85%;
			padding:.25em .5em;
			line-height:1em;
			margin-top:.4em;
		}
					

/* ##################  =forms  ################## */ 
	

	body.tracking #pageInput{margin-left:37em;}

		/*body.tracking #pageInput {background-color:#74c402;}*/
		body.billing #pageInput,body.invoice #pageInput ,body.invoicing #pageInput{background-color:#ffcc00;}
		body.clients #pageInput {background-color:#cbe9f8;}
		body.contacts #pageInput {background-color:#ddd;}

		



	form {
		margin:0;
		padding-bottom:.5em;
	}
	form  h4{
		clear:both;
		padding:1em 0 0 1em;
	}
	.clear_both {clear:both !important;} 
		form fieldset{
			margin:0 0 1em 0;
			padding:0;
			border:0;
			float:left;
			}
		form fieldset.formbuttons{
			clear:both;
			float:none;
			margin-top:1em;
		}

		form input, form select, form textarea {
			margin:.25em 1em;
			border: 0;
		}

		form input {
		border:1px solid #fff;
		}

		form input:hover {
			background-color:#fff;
		}
		form#newentry input {
			background-color:#fff;
			border:1px solid #fff;
		}
		
		form input:submit {
				margin:1.5em 1em .5em 0;
				border: 0;
				background-color:#000;
				border:1px solid red;
				display:block;
	
			}
		form input.submitButton {
				color:white;
				display:block;
				float:left;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				padding:.15em .5em;
				margin-bottom:1.5em;
				/*position:relative;
				top:1em;*/
				line-height:1.45em;
				}
	
	
			form label {
				color:#6E776E;
				display:block;
				margin:.25em 1em 0 ;
			}
	
			form label.error {
					color:#ff0;
					font-variant:small-caps;
					font-weight:bold;
			}
			form #workhours { width:15em;}
			form #workhours div{float:left; }
			/* New entry */
			form#entryForm {
					color:white
			}
			form#entryForm #originfield {
					/*width:13em;*/
			}
			form#entryForm input.submitButton {
					background-color:#269926;
					color:white;
					border:1px solid #269926;
			}
		
		
			form#entryForm input.submitButton:hover {
					background-color:#287300;
					border:1px solid #287300;
			}

			
			/* Edit entry */

			form#entryForm input {
				background-color:#fff;
				border:1px solid #fff;
			}
			
			form#entryForm p {
				text-align:center;
				margin:.25em;
			}
			form#entryForm input.submitButton {
					background-color:#006600;
					border:1px solid #006600;
					}
			form#entryForm input.submitButton:hover {
					background-color:#003300;
					border:1px solid #003300;
					}
					


			/* Clients */
			#clientselector fieldset.formbuttons {clear:none;}
			
			#clientselector input.submitButton,
			form#clientform input.submitButton,
			form#clientform .formbuttons  a.cancelEdit  {
					background-color:#426D8D;
					border:0;

				
					
			}

			form#clientform input.submitButton:hover ,
			form#clientform .formbuttons  a.cancelEdit:hover{
					background-color:#003A75;
					border:0;

			}

			/* Contacts*/
			
		/*	body.contacts form input.submitButton,
			body.contacts form .formbuttons  a.cancelEdit {
					background-color:#660033;
					color:white;
					border:1px solid #660033;
			}
			body.contacts form  input.submitButton:hover,
			body.contacts form .formbuttons  a.cancelEdit:hover {
					background-color:#330033;
					color:white;
					border:1px solid #330033;}
					
			body.contacts #pageInput h3 {margin:0; padding:0.5em 1em ;}
			body.contacts #pageInput table{margin:0;padding:0.5em 1em;background-color:#CCCCCC;}
			body.contacts #pageInput th{text-align:left;font-weight:normal;padding:0.1em 1em ;font-style:italic;}
			body.contacts #pageInput td{padding:0.1em 1em ;}


	form a.cancelEdit {
		display:block;
		float:left;
		color:white;
		padding:.25em .5em;
		margin-top:1.2em;
		margin-right:.5em;
		background-color:#426D8D;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}

	form a.cancelEdit:hover {
		color:white;
		background-color:#426D8D;
		}
*/
/* ##################  =tracking ################## */ 

body.tracking pre {background-color:#fff; font-family:calibri,Arial, Helvetica, sans-serif;padding:1em;margin-top:0;}

/* ##################  =Calendar  ################## */ 

		.tracking #calendar {
			border-collapse:separate !important;
			width:100%;
			}	
			.tracking #calendar th{
				text-align:center;}	
				.tracking #calendar th a{
					color:#fff;}	
					
		.tracking #calendar tbody {
			overflow:auto;
			}	
			
			.tracking #calendar th {

				background-color:#999;
				color:white;
				font-weight:normal;
				font-style:italic;
				 white-space:nowrap;
				}
			.tracking #calendar tr.weekdays td{
				text-align:center;
				height:auto !important}	

		.tracking #calendar td {
			padding:0;
			margin:0;
			width:5em;
			vertical-align:top;
			border-top:1px solid #ddd;
			}	
			body .tracking #calendar td:first-child,  
				body .tracking #calendar td:last-child {
				background-color:#fafafa;
				}
								
			.tracking #calendar tr.weekdays td{
				background-color:#CCCCCC !important;
				}		

		.tracking #calendar td div{
			/*padding:.5em;*/
			margin:.1em .2em;
			}	

			.tracking #calendar .today {
				border:1px solid #cc0000 !important;
				font-weight:bold !important;
				
				}	
					
			.tracking #calendar .CalendarDay {
				position:relative;
				color:#aaa;
				font-size:90%;
				}
				

			
			.tracking #calendar .CalendarDay strong{
				color:#999;
				}	
	
			.tracking #calendar .CalendarDay div{
				color:#000;
				font-size:100%;
				margin:0;
				}	
			body .tracking #calendar .calendarhighlight {
				background-color:#dfc !important;
				}
				
				
				
				
			a.scheduled {
				color:green;
				}
			
			 a.inprogress{
				color:orange;
				}
			a.inproofing {
				color:red;
				}
			 a.completed {
				color:#333;
				}
			 a.billed {
				color:#999;
				}	
			a.paid {
				color:#999;
				}	
	
/* ##################  =traveller ################## */ 
	.traveller {
			background-color:#99ff66;
			padding:1em;;
	
	}
	
	.traveller h3{
			display:inline;
	}
	
	.traveller p{
			margin-top:0;
	}
	
body.tracking pre {background-color:#fff; font-family:calibri,Arial, Helvetica, sans-serif;padding:1em;margin-top:0;}


/* ##################  =billing ################## */ 

	body.billing #pageOutput div.monthtotal h3 span {font-weight:normal; font-size:70%;}
	body.billing #pageOutput div.monthtotal h3 {margin-bottom:0;padding-bottom:0;}
	body.billing #pageOutput div.monthtotal p {margin-top:0;padding-top:0;}		

	/* ##################  =financials ################## */ 
	.financials td  span {color:#999999;font-size:80%;}											