#client_dropdown_form, #contact_dropdown_form {
	display:inline;
}

tr td:first-child {
	font-size: 85%;
	width:35%;
	color:#888;
}

.table, .well {
	margin-bottom:3em;
}

.contacts-well, .guidelines {
	height:15em;
	overflow-y:auto;
	margin-bottom:2em;
}

.panel-heading {
	min-height: 110px;
}	
