.panel-heading h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-heading p{
	margin-bottom: 2px;
}

.panel-heading .btn{
	margin-right: .5em;
}

.contacts-well, .guidelines {
	height:25em;
	overflow-y:auto;
	margin-bottom:2em;
}

.discounts {
	min-height:15em;
}

.table, .well {
	margin-bottom:3em;
}

tr td:first-child {
	font-size: 85%;
	width:35%;
	color:#888;
}

tr td.address {
	font-size: 100%;
	color:#333;
	width:100%;
}
