.panel-heading h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-heading p{
	margin-bottom: 2px;
}

.panel-heading .btn{
	margin-right: .5em;
}


.nav-tabs{
	margin-bottom:2em;
}

 .guidelines {
	height:15em;
	overflow-y:auto;
	margin-bottom:2em;
}

.discounts {
	min-height:15em;
}


.well {
	margin-bottom:3em;
}


tr td:first-child {
	font-size: 85%;
	width:35%;
	color:#888;
}

.contacts_table tr td:first-child {
	font-size: 100%;
}


tr td.address {
	font-size: 100%;
	color:#333;
	width:100%;
}
