/*  ## panel-heading  ## */
	.panel-heading h4 .btn{
		margin-right: -.8rem;
	}

	.panel-heading #toolset .btn{
		margin-left: .5rem;
	}




/*  ## .list-group  ## */
	.list-group-item .badge{
		float:none;
		margin-left:.5rem;
	}


	.panel-title, .panel-heading form{
		margin-bottom:.5rem;
	}

	.list-group-item .glyphicon{
		margin-right:.5rem;
	}

	.list-group-item .glyphicon-folder-open{
		color:#9CC09C;
	}

	.list-group-item .glyphicon-folder-close{
		color:#C2B55D;
	}

	.list-group-item .glyphicon-list-alt{
		color:#76A2E4;
	}

	.list-group-item .deletedir,
	.list-group-item .deletefile{
		margin-left:0.5rem;
		width:2.5rem;
		opacity:.8;
	}