	
		/*data tables*/
		table.dataTable thead .sorting , table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
			padding-left:15px;
		}
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
			left:0px !important;
		}
		table.dataTable thead .sorting::after,
		table.dataTable thead .sorting_asc::after {
			content: "\e252";
		}

		table.dataTable thead .sorting_desc::after {
			content: "\e253";
		}
