#group_clients_table_filter {
    text-align: left;
}
#group_clients_table_filter label {
    margin-left: -10px;
}


.list-group-item span{
	font-weight:bold;
}

.greentext {
	color:darkgreen;
}

.red-text {
	color:darkred;
}

span.graytext {
	color:#999;
}

label {
	font-size: 85%;
	color:#888;
}

input, textarea, select  {
	margin-bottom:1em;
}

.item-group {
	min-width: 100%;
	background-color: #f9f9f9;
	border-radius: 4px 4px 0 0;
	float:left;
	padding-bottom:1em;
	margin-bottom:2em;
}