#group_clients_table_filter {
    text-align: left;
}
#group_clients_table_filter label {
    margin-left: -10px;
}


.list-group-item span{
	font-weight:bold;
}

.greentext {
	color:darkgreen;
}

.red-text {
	color:darkred;
}

span.graytext {
	color:#999;
}